@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">CODE-HUNTERS</h1>
    <p>repositorio proyecto <a href="https://github.com/MASATNAFEL/G22proyectociclo3.git">proyecto Mantenimiento TIC</a>.</p>
    <img src="images/taller.png" class="rounded-circle float-right cornerimage" alt="taller"style="float;width:360px;height:280px;">
</div>
