@page
@model PrivacyModel
@{
    ViewData["Title"] = "VARIOS TERMINOS";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

    <img src="images/carretera.png" class="float-left cornerimage slide"  alt="carretera" style="width:1170px;height:910px;">
    <img src="images/mecanico 1.png" class="float-left slide1" alt="mecanico" style="float;width:720px;height:560px;">
