@page
@model Mantenimiento.app.Frontend.Pages.DeleteModelv
@{
}
<h4>informacion del vehiculo que se va a eliminar</h4>
<hr>
<br><br>
<a class="btn btn-danger"><i class="fa fa-eraser"></i></a>
<a class="btn btn-primary" asp-page="../linkspage/vehiculos"> VOLVER<i class="fa-sharp fa-solid fa-person-walking-arrow-loop-left"></i></a>
<br>
<div>
<h5>Vehiculo</h5>
<br>
<table>
    <tr>
    <th>@Html.DisplayNameFor(m=>m.Vehiculo.Tipo):</th>
    <td>@Html.DisplayFor(m=>m.Vehiculo.Tipo)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(m=>m.Vehiculo.Placa):</th>
        <td>@Html.DisplayFor(m=>m.Vehiculo.Placa)</td>
    </tr>
</table>
<br>
<form method="post">
<input type="hidden" asp-for="Vehiculo.Id">
<input type="submit" value="ELIMINAR" class="btn btn-danger" asp-page="/Delete/OnPost"> 
</form>
</div>
