@page
@model MyApp.Namespace.CreateModel
@{
}
<h1>Aqui se ingresa la informacion del nuevo cliente</h1>
<a class="btn btn-success"><i class="fa fa-rotate"></i></a>
<a class="btn btn-primary" asp-page="../linkspage/clientes"><i class="fa-sharp fa-solid fa-person-walking-arrow-loop-left"></i></a>
