@page
@model MyApp.Namespace.CreateModel
@{
}
<h1>Aqui se ingresa la informacion del nuevo cliente</h1>
<hr>
<br><br>
<a class="btn btn-success"><i class="fa fa-rotate"></i></a>
<a class="btn btn-primary" asp-page="../linkspage/clientes"><i class="fa-sharp fa-solid fa-person-walking-arrow-loop-left"></i></a>
<br><br>
<form method="post">
    <input type="hidden" asp-for="Cliente.Id"/>
    <div class="form-group row">
        <label asp-for="Cliente.Nombre" class="col-md-2"></label>
        <input asp-for="Cliente.Nombre" class="form-control col-md-10">
    </div><br>
    <div class="form-group row">
        <label asp-for="Cliente.Apellido" class="col-md-2"></label>
        <input asp-for="Cliente.Apellido" class="form-control col-md-10">
    </div><br>
    <div class="form-group row">
        <label asp-for="Cliente.Documento" class="col-md-2"></label>
         <input asp-for="Cliente.Documento" class="form-control col-md-10">
    </div><br>
    <div class="form-group row">
        <label asp-for="Cliente.placa" class="col-md-2"></label>
        <input asp-for="Cliente.placa" class="form-control col-md-10">
    </div><br>
    <div class="form-group row">
        <label asp-for="Cliente.Direccion" class="col-md-2"></label>
        <input asp-for="Cliente.Direccion" class="form-control col-md-10">
    </div><br>
    <div class="form-group row">
        <label asp-for="Cliente.Telefono" class="col-md-2"></label>
        <input asp-for="Cliente.Telefono" class="form-control col-md-10">
    </div><br>
    <div class="form-group row">
        <label asp-for="Cliente.correo" class="col-md-2"></label>
        <input asp-for="Cliente.correo" class="form-control col-md-10">
    </div>
    <input type="hidden" asp-for="Cliente.User">
    <input type="hidden" asp-for="Cliente.Pass">
    <br><br>
    <div class="row">
        <div class="col-md-2">
            <input type="submit" value="Registrar" class="btn btn-success" asp-page="/Create/OnPost">
        </div>
        <div class="col-md-2">
            <input type="submit" value="Salir" class="btn btn-primary">
        </div>
        <div class="col-md-2">
            <input type="submit" value="Borrar" class="btn btn-danger">
        </div>
</form>