@page
@model MyApp.Namespace.DeleteModel
@{
}
<h1>Aqui se ve la informacion del cliente que se va a borrar</h1>
<a class="btn btn-danger"><i class="fa fa-eraser"></i></a>
<a class="btn btn-primary" asp-page="../linkspage/clientes"><i class="fa-sharp fa-solid fa-person-walking-arrow-loop-left"></i></a>
