@page
@model MyApp.Namespace.DetailsModel
@{
}
<h1>Aqui se ve la informacion del cliente seleccionado</h1>
<a class="btn btn-info"><i class="fa-solid fa-eye"></i></a>
<a class="btn btn-primary" asp-page="../linkspage/clientes"><i class="fa-sharp fa-solid fa-person-walking-arrow-loop-left"></i></a>