@page
@model Mantenimiento.app.Frontend.Pages.clientesModel
@{
}
<div class="justify-comtent-center text-center">
    <h4>Gestion de Clientes - Mantenimiento TIC</h4>
</div>
<br><br>
<div>
    <a asp-page="../clientes/Create">Crear</a>
    <i class="fa-solid fa-user-plus"></i>
</div>
<ul>
aquie va la lista de clientes:
<table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Documento</th>
    <th>Direccion</th>
    <th>telefono</th>
    <th>correo</th>
    <th>Detalle</th>
    <th>Actualizar</th>
    <th>Eliminar</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><i class="fa-solid fa-eye"></i></td>
    <td><i class="fa fa-rotate"></i></td>
    <td><i class="fa fa-eraser"></i></td>
    
  </tr>
</table>
</ul>