@page
@model Mantenimiento.app.Frontend.Pages.clientesModel
@{
}
<div class="justify-comtent-center text-center">
    <h4>Gestion de Clientes - Mantenimiento TIC</h4>
</div>
<br><br>
<div>
    <a asp-page="../clientes/Create">Crear
    <i class="fa-solid fa-user-plus"></i></a>
</div>
<ul>
aqui va la lista de clientes:
<table>
  <tr>
    <th>NUMERO</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Documento</th>
    <th>Direccion</th>
    <th>telefono</th>
    <th>correo</th>
    <th>Detalle</th>
    <th>Actualizar</th>
    <th>Eliminar</th>
  </tr>

  <tr>
    <td>Id</td>
    <td>Nombre</td>
    <td>Apellido</td>
    <td>Documento</td>
    <td>Direccion</td>
    <td>Telefono</td>
    <td>Correo</td>
    <td><a class="btn btn-info" asp-page="../clientes/Details"><i class="fa-solid fa-eye"></i></a></td>
    <td><a class="btn btn-success" asp-page="../clientes/Create"><i class="fa fa-rotate"></i></a></td>
    <td><a class="btn btn-danger" asp-page="../clientes/Delete"><i class="fa fa-eraser"></i></a></td>
  </tr>
  
</table>

</ul>