@page
@model Mantenimiento.app.Frontend.Pages.ingresarModel
@{
}
<h1>AQUI VA UN FORMULARIO DE INGRESO</h1>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ingresar.cshtml">
    <title>Document</title>
</head>
<body>
    <div id="contenido">
        <h1>FormularioClientes</h1>
        <table>
 
  <tr>
    <td><input type="text" name="Id" placeholder="Id de Cliente"></td>
</tr>
   <tr>
    <td><input type="text" name="Nombre" placeholder="Ingrese su Nombre"></td> 
  </tr>
   <tr>
    <td><input type="text" name="Apellido" placeholder="Ingrese su Apellido"></td>  
  </tr>
    <tr>
    <td><input type="text" name="Documento" placeholder="Ingrese su Documento"></td>
  </tr>
    <tr>
    <td><input type="text" name="Dirección" placeholder="Ingrese su Dirección"></td>
  </tr>
    <tr>
    <td><input type="text" name="Telefono" placeholder="Ingrese su Telefono"></td>  
  </tr>
    <tr>
    <td><input type="submit" value="registrar"><input type="submit" value="salir"></td>    
  </tr>
</table>
             
    </div>

</body>
</html>